langchain
langchain_openai
langchain_community
langgraph
fastapi
uvicorn
python-dotenv
chromadb
beautifulsoup4
langchain-nomic
nomic
notion-client
requests
sec-api
mendable-py-sdk
langchainhub
langchain_anthropic
finnhub-python
pandas
lancedb
pyarrow
langchain-deepseek
langchain-google-genai